.wd-kanbas.list-group {
    border-radius: 0%;
    border-color: white;
}
.wd-kanbas.list-group > .list-group-item {
    background-color: white;
    border-color: white;
    text-align: center;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    width: 73px;
}

.wd-kanbas.list-group > .list-group-item {
    color: red;
    text-decoration: none;
    font-size: 0.9em;
}

.wd-kanbas.list-group > .list-group-item.active {
    background-color: white;
    border-color: white;
    color: red;
}

.wd-kanbas.list-group > .list-group-item > i {
    font-size: 2em;
    color: red;
}

.wd-kanbas-navigation-column {
    min-width: 75px;
    max-width: 85px;
    vertical-align: middle;
    horiz-align: center;
    background-color: black;
}

a {
    color: red;
    text-decoration: none;
}

.wd-kanbas-navigation-fix{
    position: relative;
}