.wd-kanbas.list-group {
    border-radius: 0%;
    border-color: black;
    align-self: flex-start
}
.wd-kanbas.list-group > .list-group-item {
    background-color: black;
    border-color: black;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 72px;
}

.wd-kanbas.list-group > .list-group-item {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.wd-kanbas.list-group > .list-group-item.active {
    background-color: white;
    border-color: white;
    color: black;
}

.wd-kanbas.list-group > .list-group-item > i {
    font-size: 2em;
    color: red;
}

.wd-kanbas-navigation-column {
    min-width: 75px;
    max-width: 85px;
    vertical-align: top;
    background-color: black;
}

a {
    color: red;
    text-decoration: none;
}

.wd-kanbas-navigation-fix{
    position: fixed;
}